<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mafuvadze.anesu.com.codedayapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="I Can Fix That"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="Sign Up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="I Can Fix That"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CopyEssay"
            android:label="Enter Essay"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EssayAnalysis"
            android:label="Report"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PictureActivity"
            android:label="Picture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DisplayEssay"
            android:label="Display" >
        </activity>
        <activity
            android:name=".show"
            android:label="@string/title_activity_show" >
        </activity>
    </application>

</manifest>
